[Unit]
Description=Deteccion de personas YOLO/Hailo desde camara EZVIZ RTSP
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/hailo-ezviz-personas/rtsp-enable
ExecStart=/home/pi/Documents/hailo-ezviz-personas/rtsp-enable/start_detection.sh
Restart=always
RestartSec=8

[Install]
WantedBy=multi-user.target
